.guides-banner {
  position: relative;
  margin: 120px 0;
}

.guides-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */
  color: #141414;
}

.guides-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 120px 0;
}

.guides-list li {
  flex: 0 1 45%;
  margin: 0 16px 16px 0;
}

.guides-list li:nth-child(6n + 6) {
  margin: 0 0 16px 0;
}

.guide {
  position: relative;
}

.guide-img {
  width: 100%;
  object-fit: cover;
  height: auto;
  display: block;
}

.guide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50.52%,
    rgba(0, 0, 0, 0.65) 100%
  );
  border-radius: 8px;
}

.guide-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  margin: 0 0 4px 0;
}

.guide-desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
  margin: 0 0 8px 0;
}

.guide-book-now {
  background: #ffffff;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  padding: 7px 30px;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  text-align: center;
  text-transform: capitalize;
}

.guide-desc span {
  font-weight: 700;
}

@media (min-width: 767px) {
  .guides-list li {
    flex: 0 1 31%;
  }
}

@media (min-width: 1024px) {
  .guides-list li {
    flex: 0 1 15.222%;
  }

  .guides-banner {
    margin: 180px 0 120px 0;
  }
}
