.home-carousel {
  height: auto;
  width: 100%;
}

.home-carousel-slide {
  position: relative;
}

.home-carousel-slide-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
}

.home-carousel-slide-image {
  width: 100%;
  display: block;
  border-radius: 4px;
  height: 249px;
}

.home-carousel-slide-tag {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  padding: 8px;
}

.home-carousel-slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 60px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(
    54.22deg,
    rgba(0, 0, 0, 0.4) 47.82%,
    rgba(0, 0, 0, 0) 73.47%
  );
}

.home-carousel-slide-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.home-carousel-slide-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #e5e5e5;
}

.home-destination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.home-destination-list li {
  flex: 0 1 46.333%;
  margin: 0 25px 0 0;
}

.home-destination-list li:nth-child(2n + 2) {
  margin: 0;
}

.home-photos {
  overflow: hidden;
}

.home-destination {
  background: url("/assets/home/home-destination.png"), #c4c4c4;
  height: 235px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
  margin: 0 0 40px 0;
}

.home-destination-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
  background: rgba(90, 90, 90, 0.63);
  border-radius: 5px;
  display: inline-block;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(0%, -50%);
}

.home-travels {
  position: relative;
  margin: 0 0 80px 0;
}

.home-travel-bgimg {
  border-radius: 24px;
  height: 270px;
  width: 100%;
}

.home-travel-wrapper {
  position: relative;
  text-align: center;
}

.home-travel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.home-travel-play-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.home-travel-play-btn img {
  width: 60px;
  height: 60px;
}

.home-travel-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  margin: 10px 0;
}

.home-photos-img-wrapper {
  position: relative;
  margin: 0 20px 0 0;
  /* overflow: hidden; */
}

.home-photos-list .slick-list {
  overflow: visible;
}

.home-photos-img-wrapper img {
  width: 100%;
  height: auto;
}

.home-carousel-nav {
  display: flex;
  align-items: center;
  position: absolute;
  left: auto;
  top: 11px;
  right: 5px;
}

.home-carousel-nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 767px) {
  .home-carousel-slide-content {
    bottom: 40px;
    padding: 60px;
  }

  .home-carousel-nav {
    left: 55px;
    bottom: 40px;
    top: auto;
    right: auto;
  }

  .home-carousel-slide-title {
    font-size: 32px;
  }

  .home-carousel-slide-image {
    height: auto;
  }

  .home-destination-list li {
    flex: 0 1 30.333%;
  }

  .home-destination-list li:nth-child(2n + 2) {
    margin: 0 25px 16px 0;
  }

  .home-destination-list li:nth-child(3n + 3) {
    margin: 0 0 16px 0;
  }

  .home-travel-bgimg {
    height: 450px;
  }

  .home-travel-title {
    font-size: 32px;
    line-height: 48px;
  }

  .home-travel-play-btn img {
    width: 102px;
    height: 102px;
  }

  .home-travels {
    margin: 0 0 160px 0;
  }
}

@media (min-width: 1024px) {
  .home-carousel-slide-content {
    bottom: 60px;
    padding: 60px;
  }

  .home-carousel-nav {
    bottom: 60px;
  }

  .home-destination-list li {
    flex: 0 1 18.333%;
  }

  .home-carousel-slide-content {
    max-width: 55%;
  }

  .home-destination-list li:nth-child(5n + 5) {
    margin: 0;
  }

  .home-travel-bgimg {
    height: 565px;
  }

  .home-destination-list li {
    flex: 0 1 18%;
  }

  .home-destination-list li:nth-child(3n + 3) {
    margin: 0 24px 16px 0;
  }
}
