.marketplace-banner {
  position: relative;
  margin: 120px 0 80px 0;
}

.marketplace-section {
  margin: 80px 0;
  overflow: hidden;
}

.marketplace-item {
  background: #ffffff;
  border-radius: 0px 0px 8px 8px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08));
}

.marketplace-item-img {
  height: 156px;
  width: 100%;
}

.marketplace-item-content {
  padding: 12px 18px;
}

.marketplace-item-footer {
  border-top: 1px solid #f2f2f2;
  padding: 12px 18px;
}

.marketplace-list a {
  text-decoration: none;
}

.marketplace-item-title {
  font-family: "Poppins";
  margin: 0 0 4px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
  text-decoration: none;
}

.marketplace-item-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #718096;
  margin: 0;
}

.marketplace-item-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.marketplace-list .slick-list {
  /* display: flex;
  flex-wrap: wrap; */
  overflow: visible;
}

.marketplace-list li {
  /* flex: 0 1 23%; */
  margin: 0 16px 16px 0;
}

@media (min-width: 992px) {
  .marketplace-banner {
    margin: 180px 0 80px 0;
  }
}
